/*
 * Style:   CX-Dark Style
 * Author:  AtjonTV
 * Version: 1.0.4
 * Date:    21.11.2017
*/

/*
    Content:
        Body Styling
        Navbar Styling
        Button Styling
        Main Container Styling
*/

/* Body Styling - BEGIN*/
body{
    background: #424042;
}
/* Body Styling - END*/

/* Navbar Styling - BEGIN*/
.cx-navbar ul {
    list-style-type: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.cx-navbar ul li {
    float: left;
}

.cx-navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cx-navbar ul li a:hover {
    background-color: #202120;
}

.cx-navbar .cx-nav-active{
    background: #2a2b2a;
}

.cx-nav-button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cx-nav-button:hover {
    background-color: #202120;
}
/* Navbar Styling - END*/

/* Button Styling - BEGIN*/
.cx-button {
    background-color: #333;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cx-button:hover {
    background-color: #202120;
}
/* Button Styling - END*/

/* Main Container Styling - BEGIN*/
.cx-container{
    text-align: center;
    color: white;
}
/* Main Container Styling - END*/